body {
	background: #f2f2f2;
	font-family: '함초롬돋움';
	font-size: 16px;
	text-align: center;
}

.name {
	display: inline-block;
	width: 40%;
	height: 20;
	background: #A9A9A9;
	color: #FFF8DC;
	text-align: center;
	float: left;
	border:1px solid;
}

.name1 {
	display: inline-block;
	width: 40%;
	height: 20;
	background: #A9A9A9;
	color: #FFF8DC;
	text-align: center;
	float: left;
	border:1px solid;
}

.underbar {
	background: #F4A460;
	height: 5;
	width: 100%;
	top: -3px;
	margin: auto;
}

#wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 50%;
}

#formLogin {
	top: 100px;
	width: 100%;
	height: 240px;
	margin: auto;
}

#formAddUser {
	top: 100px;
	width: 100%;
	height: 240px;
	margin: auto;
}

input {
	width: 80%;
	border: 1px solid #333333;
	font-size: 16px;
	font-family: '함초롬돋움';
	margin-bottom: 7px;
	float: left;
	
}

.alertmsg {
	display: none;
	color: #E62E2E;
}