@CHARSET "UTF-8";

#wrapper {
	width: 100%;
	height: 600px;
	inline-block;
}

#1 #2 #3 {
	width: 100%;
	height: 30px;
}

#leftsection {
	
	width: 12%;
	height: 600px;
	float: left;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: #FFD39B;
}

#center {
	display: inline-block;
	width: 68%;
	height: 600px;
	background-color: #FFF8DC;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
}

#rightsection {
	float : right;
	display: inline-block;
	width: 20%;
	height: 600px;
	background: #FFD39B;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

#mem {
	width: 98%;
	height: 98%;
	min-height: 128px;
	text-align: center;
	padding: 5px;
	border-bottom: 0;
	background: #F2F2F2;
}

#MemberAddButton {
	text-align: center;
	width: 98%;
	height: 30px;
	font-size: 14px;
	border: 0;
	background: #fccd4c;
}

#chatMessage {
	width: 98%;
	height: 88%;
	background: #F8F8FF;
	font-size: 14px;
	bottom: 0px;
	border: 1px solid
}

#send {
	width: 98%;
	height: 10%;
	min-height: 36px;
	padding-top: 5px;
	bottom: 0px;
}

#message {
	width: 75%;
	height: 30px; padding : 5px;
	font-size: 12px;
	position: relative;
	top: -1px;
	padding: 5px;
}

#sendMessage {
	text-align: center;
	float: right;
	width: 19%;
	height: 30px;
	font-size: 13px;
	border: 0;
	background: #fccd4c;
}