@CHARSET "UTF-8";

table, tr, td{
	border : 2px solid #777777;
	border-collapse:collapse;
	
}
table{
	width: 590px;
}
#content{
		border : 2px solid #777777;
}
#wrap{	width: 600px;
	height:500px;
	margin : auto;

}

#modifyButton, #return, #deleteButton{
	width : 20%;
	height : 5%;
	border : 2px solid #777777;
	
}
#modifyButton, #deleteButton{
	visibility:hidden;
}
#post_subject2{
	width : 200px;
}