html ,body { height:100%; margin:0; padding:0; background:#fff; font-family:malgun gothic,"맑은고딕",Dotum,"돋움",Helvetica,AppleSDGothicNeo,Arial,sans-serif; font-size:13px;color:#3c3c3c;
}
.wrapper{
	width : 100%;
	height : 90%;
	background : white; margin:0; padding:0;
	border : 1px solid;
}
/* div{
	border : 1px solid #48BAE4;
} */
#category{
	width : 100%;
	height : 10%;
	background:red;margin:0; padding:0;
	border : 1px solid black;
}
 .prjview{
	width : 80%;
	height : 89%;

	 display:inline-block;
	 margin:0; padding:0;
}
.chatview{
	width : 19%;
	height : 89%;
	background:green;
	display:inline-block;
	margin:0; padding:0;
} 


#projectButton, #communityButton, #mypageButton{
	width : 10%;	
	height : 100%;
	background:red;
	margin:0;
	padding:0;
	display:inline-block;
	float:left;
	text-align:center;
	border-right : 1px solid black;
}
#projectAdd, #projectMore{
	float:right;
	text-align:center;
	width : 10%;
	height : 100%;
}
hr{
	
	color:white;
}
.projectlist{
	width : 18%;
	height : 90%;
	background:yellow;
	margin-left:15px;
	padding:0;
	float:left;
}
#buttonBox{
	width : 100%;
	height : 5%;
}

#newestProject > .projectlist{
	background:blue;
}
#favoriteProject, #newestProject{
	width : 90%;
	height:40%;
}

.prj {
	dislay: inline-block;
	float: left;
	width: 18%;
	height: 90%;
	padding: 15px;
	padding-top: 0px;
	border-radius: 15px;
	color: #f2f2f2;
	background: #ee786c;
	box-shadow: 3px 3px 5px 0px gray;
	margin: 10px;
	text-align: left;
	line-height: 1.42857143;
	box-sizing: border-box;
}

.title {
	text-align: center;
	font-size: 24px;
}
.detail {
	font-size: 16px;
	text-align: left;
}
.hh {
	text-align: center;
	font-size: 24px;
}
#rightsection {
	float : right;
	display: inline-block;
	width: 19%;
	height: 89%;
	background: #FFD39B;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

#mem {
	width: 98%;
	height: 98%;
	min-height: 128px;
	text-align: center;
	padding: 5px;
	border-bottom: 0;
	background: #F2F2F2;
}

#MemberAddButton {
	text-align: center;
	width: 98%;
	height: 30px;
	font-size: 14px;
	border: 0;
	background: #fccd4c;
}

#chatMessage {
	width: 98%;
	height: 88%;
	background: #F8F8FF;
	font-size: 14px;
	bottom: 0px;
	border: 1px solid
}

#send {
	width: 98%;
	height: 10%;
	min-height: 36px;
	padding-top: 5px;
	bottom: 0px;
}

#message {
	width: 75%;
	height: 30px; padding : 5px;
	font-size: 12px;
	position: relative;
	top: -1px;
	padding: 5px;
}

#sendMessage {
	text-align: center;
	float: right;
	width: 19%;
	height: 30px;
	font-size: 13px;
	border: 0;
	background: #fccd4c;
}