@CHARSET "UTF-8";

 .card {
            position: absolute !important;
            width: 175px;
            background: #fccd4c;
            box-shadow: 3px 3px 5px #aaa;
            border-radius: 5px;
            
         }
         .card .card-content {
            padding: 10px;
            font-size: .9em;
         }
         .card:hover {
            box-shadow: 3px 3px 5px #999;
            cursor: pointer;
         }
         
          .new {
            position: absolute;
            top: 5%;
            left: 80%;
            color: black;
            margin: 0px 0px 0 0;
            cursor: pointer;
         }