<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.grouping.group.mapper.GroupMapper">
	<insert id="groupInsert" parameterType="com.spring.grouping.group.domain.GroupVO" useGeneratedKeys="true"   
  keyProperty="seq_grp_number">

			insert into T_GRP_INFO (GRP_TITLE, GRP_CONTENT,
			GRP_FAVORITE_YN, GRP_REG_DT,
			GRP_REG_USER_ID, GRP_UDT_DT, GRP_UDT_USER_ID, GRP_LEADER_ID)
			values(#{grp_title}, #{grp_content},
			#{favorite_yn},#{reg_dt},#{reg_user_name},#{udt_dt},#{udt_user_name},#{grp_leader_id})

	</insert>

	<insert id="groupInUserInsert" parameterType="hashMap">
		INSERT INTO
		T_USER_IN_GROUP (SEQ_GRP_NUMBER, USER_ID, REG_DT, REG_USER_ID)
		VALUES
		(#{groupNum}, #{userId}, null, null)
	</insert>



	<select id="selectNewestGroup" resultType="com.spring.grouping.group.domain.GroupVO">
		SELECT * FROM
		T_GRP_INFO

	</select>

	<select id="selectFavoriteGroup" resultType="com.spring.grouping.group.domain.GroupVO">
		SELECT * FROM
		T_GRP_INFO
	</select>

</mapper>
