<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <div class="prjview">
            <div class="buttonBox">
                <button id="projectMore">프로젝트 더 보기</button>
                <button id="projectAdd">프로젝트 등록</button>
            </div>
         
            <div id="favoriteProject">
                <span class='hh'>즐겨찾기한 프로젝트</span>
                <c:forEach items="${projectlist}" var="pl">
                    <div class='prj' id='${pl.project_id }'>
                        <!-- 		<img class='del' src='../images/delete.png'>  -->
                        <span class='title'> ${pl.project_name}</span>
                        <hr>
                        <div class='detail'>${pl.project_detail}</div>
                        <form action='main.html'><input class='join' type='button' value='프로젝트 입장' /></form>
                    </div>
                </c:forEach>
            </div>
            
            <div id="newestProject">
                <span class='hh'>최근 사용한 프로젝트</span>
                <c:forEach items="${projectlist}" var="pl">
                    <div class='prj' id='${pl.project_id }'>
                        <!-- 		<img class='del' src='../images/delete.png'>  -->
                        <span class='title'> ${pl.project_name}</span>
                        <hr>
                        <div class='detail'>${pl.project_detail}</div>
                        <input class='join' type='button' value='프로젝트 입장' />
                    </div>
                </c:forEach>
            </div>
        </div>

    </body>
</html>
